 .contact {
     padding-bottom: 200px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: black;
     align-items: center;
     background-color: lightslategrey;
     height: auto;
     margin: auto;
 }

 .contact-heading {
     padding-top: 200px;
     padding-bottom: 100px;

 }

 .contact-container {
     border: 1px solid black;
     width: fit-content;
     height: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 30px;
     background-color: black;
     border-radius: 1rem;

 }

 .contact-container>p {
     font-size: 20px;
     text-align: left;
     padding-bottom: 30px;
     color: white;

 }

 .contact-container>p>span {
     color: lightslategrey;

 }

 .contact-icons>a>.MuiIconButton-root {
     color: white;

 }

 .contact-icons>a>.MuiIconButton-root :hover {
     transform: scale(1.15);
     box-shadow: lightslategrey;
 }

 @media screen and (max-width:600px) {
     .contact-container {
         padding-top: 20px;
         height: auto;
         width: auto;
     }

     .contact-container {
         margin-top: 5px;
     }

     .contact {
         padding-bottom: 30px;

     }

     .contact-heading {
         padding-bottom: 50px;
         padding-top: 50px;
     }
 }